.Show-Hide-Button {
    position: relative;
    padding: .5vw 40.5vw;
    font-size: calc(5px + 2vmin);
    color: #686c74;
    border: .5vmin solid #686c74;
    /*border-radius: 1vmin;*/
    background-color: #282c34;
}

.Show-Hide-Button:hover {
    color: #282c34;
    background-color: #686c74;
    font-weight: bold;
}

.Resume-Iframe {
    width: 85vw;
    height: 100vh;
}
