.App-Div {
  text-align: center;
  background-color: #282c34;
}

.App-Header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  margin: 0;
  margin-top: 5vh;
}

a {
  color: #686c74;
}
a:hover {
  color: #fff;
}

ul {
  padding: 0 2vw;
  color: white;
}

li {
  position: relative;
  display: inline;
  z-index: 2;
  border-right: .25vw solid #121218;
}

li:last-child {
  border-right: none;
}

.Home-Header {
  position: relative;
  top: -25vh;
}

.Content-Header {
  position: relative;
  top: -15vmax;
  z-index:1;
  /*background-color: rgba(0,0,0,1);*/
}

.Content-Div {
  /*background-color: #000;*/
  margin: 1vw 0;
  padding: 3vw;
  min-height: 25vh;
  width: 90vw;
  position: absolute;
  top: 20vmax;
}

.Home-Nav-List-Item {
  top: -4vh;
}

.Home-Nav-List-Item-Selected {
  top: -4vh;
  padding: 0 2.5vw;
  height: 50vh;
  color: #484c54;
}

.Nav-List-Item {
  top: -40vh;
}

.Nav-List-Item-Selected {
  top: -40vh;
  padding: 0 2.5vw;
  height: 50vh;
  color: #484c54;
}

.Link-Tag {
  margin: .25vw;
  padding: 1.5vw 2.25vw;
  text-decoration: none;
  color: #686c74;
}

.Link-Tag:hover {
  color: #fff;
}

.Link-Tag:active {
  color: #172234;
}
