.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Content-div {
  background-color: #000;
  margin: 1vw 0;
  padding: 3vw;
  min-height: 25vh;
  width: 90vw;
  position: absolute;
  top: 20vmax;
}

h1 {
  margin: 0;
  margin-top: 5vh;
}

ul {
  padding: 0 2vw;
  color: white;
}
.Home-Div {
  position: relative;
  top: -5vh;
}

.Nav-List {
  position: absolute;
  top: 10vmax;
}

.Nav-List-Item {
  display: inline;
}

.Link-Tag {
  background-color: #172234;
  margin: .5vw;
  padding: 1.5vw 2vw;
}

.Resume-Iframe {
  width: 90vw;
  height: 50vh;
}

.Portfolio-List {
  list-style: none;
}