.App-Div {
  text-align: center;
  background-color: #282c34;
}

.App-Header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

h1 {
  margin: 0;
  margin-top: 5vh;
}

h2 {
  margin: 2vh;
}

a {
  color: #686c74;
}
a:hover {
  color: #fff;
}

ul {
  padding: 0 2vw;
  /*color: white;*/
}

li {
  position: relative;
  display: inline;
  z-index: 2;
  border-right: .25vw solid #121218;
}

li:last-child {
  border-right: none;
}

.Home-Header {
  position: fixed;
  top: 8vmax;
  left: 2vmin;
  right: 2vmin;
}

.Content-Header {
  position: absolute;
  top: -10vmax;
  left: 2vmin;
  right: 2vmin;
  z-index:1;
  /*background-color: rgba(0,0,0,1);*/
}

.Content-Div {
  background-color: #282c34;
  /*background-color: #ffff00;*/
  position: absolute;
  margin: 1vw 0;
  padding: 0 0 10vh 0;
  min-height: 25vh;
  width: 100%;
  top: 20vmax;
}

.Home-Nav-List-Item {
  top: -4vh;
}

.Home-Nav-List-Item-Selected {
  top: -4vh;
  padding: 0 2.5vw;
  height: 50vh;
  color: #484c54;
}

.Nav-List-Item {
  top: -40vh;
}

.Nav-List-Item-Selected {
  top: -40vh;
  padding: 0 2.5vw;
  height: 50vh;
  color: #484c54;
}

.Link-Tag {
  margin: .25vw;
  padding: 1.5vw 2.25vw;
  text-decoration: none;
  color: #686c74;
}

@media (max-width: 500px){
  .Nav-List-Item-Selected {
    padding: 0 1vw;
  }
}

@media (max-width: 500px){
  .Link-Tag {
    padding: 1vw .75vw;
  }
}

@media (max-height: 500px){
  .Home-Nav-List-Item {
    top: 5vw;
  }
}